/* Login.module.css */

.container {
    display: flex;
    height: 100vh;
    background-image: url('/back.jpg'); /* Set the background image */
    background-size: cover;
    background-position: center;
}

.left {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.loginButton {
    width: 100%;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.googleImage {
    width: 300px; /* Adjust image width as needed */
    height: 300px;
}
